@layer base {
	.layout-center {
		@apply flex flex-col justify-center h-screen;
		margin: 0 auto;
	}

	#header {
		height: 72px !important;
		min-height: 64px !important;

		&.small {
			height: 44px !important;
			min-height: 44px !important;
		}

		@apply w-full flex flex-col justify-center sticky px-8 border-b border-[#E5E8EC];
		& > div {
			@apply w-full flex flex-row justify-between items-center;
		}
	}
}
